<html>

<head>
  <title>Docker Training</title>
</head>

<body>
  <h1>Hello</h1>

  <form method="post" action="/addname">
    <label>Enter Your Name </label><br>
    <input type="text" name="firstName" placeholder="Enter first name..." required>
    <input type="text" name="lastName" placeholder="Enter last name..." required>
    <input type="submit" value="Add Name">
  </form>
</body>

</html>